<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Wolverine Events</title>
    <meta name="description" content="Get weekly personalized U of M (Ann Arbor) event recommendations">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://accounts.google.com/gsi/client" async></script>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DQJSM8QBBQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-DQJSM8QBBQ');
    </script>
</head>

<body>

    <ul class="nav justify-content-center">
        {% if g.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('prefs') }}">Preferences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% endif %}
    </ul>


    <header class="text-center" style="padding-top:64px;padding-bottom:48px;">
        <h2>My Wolverine Events</h2>
        {% if not g.user %}
        <p class="lead">Get weekly personalized U of M (Ann Arbor) event recommendations</p>
        <div id="g_id_onload" data-client_id="{{ google_client_id }}" data-context="use" data-ux_mode="popup"
            data-login_uri="https://mywolverine.events/login" data-auto_prompt="false">
        </div>
        <center>
            <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline" data-text="signin_with"
                data-size="large" data-logo_alignment="center" data-width="100">
            </div>
        </center>
        {% endif %}
        <!-- {% if recommended_events %}
        <br><a href="#recs">Jump to Your Recommendations ↓</a>
        {% endif %} -->
    </header>
    {% if featured_events %}
    <h3 id="featured" class="text-center"><span>Popular Events This Week</span></h3>
    <div class="text-center">or <a class="text-center" href="#recs">Jump to Your Recommendations ↓</a></div><br>

    <div class="container p-0">
        <div class="card-deck">

            {% for event in featured_events %}
            {% import 'event_card.html' as eventCards %}
            {{ eventCards.eventCard(event) }}
            {% endfor %}

        </div>
    </div>
    {% else %}
    <div class="container text-center">
        <p>No popular events found. Something might be wrong. Please <a href="mailto:emilio@mywolverine.events">email
                us</a> to let us know. Sorry!</p>
    </div>
    {% endif %}

    {% if g.user %}
    {% if recommended_events %}
    <h3 id="recs" class="text-center"><span>Your recommendations</span></h3>
    <div class="text-center">or <a class="text-center" href="#featured">Jump to Featured ↑</a></div><br>

    <div class="container p-0  mb-5">
        <div class="card-deck">

            {% for event in recommended_events%}
            {% import 'event_card.html' as eventCards %}
            {{ eventCards.eventCard(event) }}
            {% endfor %}

        </div>
    </div>

    <div class="container text-center">
        <a href="#recs" onclick="location.reload()" style="text-decoration: underline;">Click to refresh and scroll up</a><br>
        <small>A good way to improve your recs the first couple of weeks is to rate them, refresh, and repeat a couple of times.</small>
    </div>
    {% else %}
    <div class="container text-center mb-5">
        <p>Your recommendations have not been computed yet. They usually are during the weekend. We'll send you a
            reminder when they are ready!</p>
    </div>
    {% endif %}
    {% endif %}

    <footer class="text-center py-3 mt-5">
        <p>
            <a href="https://emiliocantuc.github.io/">About</a> |
            <a href="https://github.com/emiliocantuc/my-wolverine-events">Code</a> |
            <a href="mailto:emilio@mywolverine.events">Feedback</a> |
            <a href="/stats">Stats</a>
        </p>
    </footer>

    <script>
        function toggleVoteButtons(event_id, dir, hx_div) {
            
            let upButtons = document.getElementsByName(event_id + '_up');
            let downButtons = document.getElementsByName(event_id + '_down');
            let counters = document.getElementsByName(event_id + '_count');
            let counterInt = parseInt(counters[0].textContent, 10);
            let upSelected = upButtons[0].classList.contains('text-warning');
            let downSelected = downButtons[0].classList.contains('text-warning');
            let url = '';

            console.log(upButtons)
            // If we clicked upvote and up was not selected
            if (dir == 'up' && !upSelected) {
                for(let i = 0; i < counters.length; i++){
                    console.log(i, upButtons[i].classList)
                    upButtons[i].classList.add('text-warning');
                    downButtons[i].classList.remove('text-warning');
                    counters[i].textContent = counterInt + (downSelected ? 2: 1);
                }
                url = `/vote?eventId=${event_id}&type=U&factor=1`;
            }
            // We clicked up but it was already selected
            else if (dir == 'up' && upSelected) {
                for(let i = 0; i < counters.length; i++){
                    upButtons[i].classList.remove('text-warning');
                    counters[i].textContent = counterInt - 1;
                }
                url = `/vote?eventId=${event_id}&type=N&factor=-1`;
            }
            // We clicked down and it was not selected
            else if (dir == 'down' && !downSelected) {
                for(let i = 0; i < counters.length; i++){
                    upButtons[i].classList.remove('text-warning');
                    downButtons[i].classList.add('text-warning');
                    counters[i].textContent = counterInt - (upSelected ? 2: 1);
                }
                url = `/vote?eventId=${event_id}&type=D&factor=-1`;
            }
            // Clicked down and it was already selected
            else if (dir == 'down' && downSelected) {
                for(let i = 0; i < counters.length; i++){
                    downButtons[i].classList.remove('text-warning');
                    counters[i].textContent = counterInt + 1;
                }
                url = `/vote?eventId=${event_id}&type=N&factor=1`;
            }
            fetch(url, { method: 'PUT' });
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
